<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimeEditLNU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>355644FD1E1175BB003E6E97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>355645131E1175BB003E6E97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3556451E1E1175BC003E6E97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
